#i1{
    background-image: url("images/img1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}
#i2{
    background-image: url("images/img2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}
#i3{
    background-image: url("images/img3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}
#i4{
    background-image: url("images/img4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}


body{

    border-style: solid;
    border-color:antiquewhite;
    border-radius: 1%;
    border-width: 5px;
    padding: 0;
    margin: 0;
    position:relative;
  
}
html{
    padding:0;
    height:100%;
}
footer{
    background-color: beige;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    }
table{
    margin-right:50px;
    text-align: center;
}

